

.fromui{
    border-radius: 5px;
    width: 20%;
    border: 2px solid gold;
    margin-left: 120px;
    padding: 10px;
  
}
.fromui input{
    margin:5px ;
    border: 2px solid rgb(244, 196, 167);
    border-radius: 5px;
}
.sbtn{
    border-radius: 5px;
    border-style: none;
    padding:  3px 15px;
    background-color: rgb(17, 118, 110);
    color: white;
    font-size:20px;
    
}
.smsg{
    border-radius: 3px;
    width: 60%;
    padding: 5px;
    margin: 10px;
    color: blue;
}